.container {
    display: flex;
    align-items: flex-end;
}

.dropdown {
    height: 43px;
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
  }
  
.nav-link {
    font-size: 18px;
}