<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Husserliana</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bio">Биография</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="works">Работы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="husserl">Гуссерль и история</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gallery">Фотогалерея</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="bibliography">Библиография</a>
        </li>
    </ul>
    <div translate class="dropdown">
        <button class="btn btn-light dropdown-toggle"
        type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Translate
        </button>
        <button routerLink='login' class="btn btn-light">Login</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button class="dropdown-item btn-light" (click)="translate.use('ru')">
            ru
          </button>
          <button class="dropdown-item btn-light" (click)="translate.use('en')">
            en
          </button>
          <button class="dropdown-item btn-light" (click)="translate.use('de')">
            de
          </button>
        </div>
      </div>
  </div>
</nav>
