
     @font-face {
         font-family: 'Roboto', sans-serif;
         src: url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap&subset=cyrillic');

     }

     body {
         box-sizing: border-box;
     }


.early-years {
    cursor: pointer;
    height: 10%;
    padding-bottom: 20px;
}

.display-4{
    padding: 30px;
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.lead {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.own-action {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 10%;
}

.last-years {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
