<section class="early-years container">
     <h1 class="display-4">Обучение и ранние годы</h1>
     <p class="lead">
                Эдмунд Гуссерль родился 8 апреля 1859 г. в Проснице (Prossnitz), небольшом городке в Австро-Венгрии (ныне - Простеёв, на территории Чехии), в еврейской семье. Он был вторым ребенком из четырех в семье портного Адольфа Абрахама Гуссерля и его жены, Юлии Гуссерль (урожденной Зелингер).

                Гуссерль первоначально учился в гимназии в Вене, затем переходит в немецкую гимназию в Оломоуц. В 1876 - 1878 гг. он изучает астрономию в университете Лейпцига. В 1878 г. он переходит в Берлинский университет, где изучает математику под руководством Леопольда Кронекера и Карла Вейерштрасса, выдающихся математиков того времени (особое влияние на Гуссерля оказал Вейерштрасс, сторонник критической математики). В 1881 - 1882 гг. Гуссерль изучает математику в Вене. Там 8 октября 1882 г. он защищает свою диссертацию "К теории вариационного исчисления" ("Beitrage zur Theorie der Variationsrechnung"). В это время Гуссерль начинает интересоваться философскими вопросами в математике и философией вообще. С 1882 г. он изучает философию в Венском университета у Франца Брентано (1838 - 1917), сторонника дескриптивной психологии, выдвинувшего понятие "интенциональность". Учениками Брентано были такие крупные фигуры, как специалист в области философии языка А. Марти, один из основоположников гештальтпсихологии К. Штумпф, создатель теории предметности А. Мейнонг, основатель Львовско-Варшавской философской школы К. Твардовский. В 1883 г. Гуссерль получает степень доктора философии в Венском университете и короткое время занимает должность приват-доцента при Вейерштрассе. В 1884 г. умирает отец Гуссерля, с этого года он продолжает изучение философии у Брентано. В 1886 г. он принимает христианство (его полное христианское имя - Эдмунд Густав Альбрехт Гуссерль).

                В 1887 г. Гуссерль начинается новый этап в жизни Гуссерля: он переезжает в Галле для защиты диссертации на получение звания доцента (Habilitation) у Карла Штумпфа. 6 августа 1887 г. Гуссерль женится на Мальвине Штайншнайдер (Malvine Steinschneider), в 1892 - 1895 гг. у них рождается трое детей - Элизабет Франциска Карола, Герхарт Адольф и Вольфганг. Осенью того же года выходит габилитационная работа Гуссерля "О понятии числа" ("Über den Begriff der Zahl"). Он становится приват-доцентом в университете Галле. В 1891 г. выходит первая его крупная работа "Философия арифметики" ("Philosophie der Arithmetik"). С критикой этой работы выступает Готлоб Фреге, упрекавший Гуссерля в психологическом толковании математических образований .

                В какой-то степени под влиянием этой статьи Гуссерль отказывается от психологизма и обращается к проблемам логики с совершенно новых позиций. Это нашло выражение в первом томе "Логических исследований" ("Logische Untersuchungen") "Пролегомены к чистой логике" ("Prolegomena zur reinen Logik", 1900) , посвященном критике психологизма в разных его видах. Через год выходит второй том "Логических исследований" - "Исследования по феноменологии и теории познания" ("Untersuchungen zur Phänomenologie und Theorie der Erkenntnis "), вызвавший негативную реакцию - многим это казалось возвратом к психологизму. Однако именно с выходом второго тома "Логических исследований" начинается феноменологическое движение (хотя сам Гуссерль использует вслед за Брентано термин "дескриптивная психология", еще не называя свое учение феноменологией). Второй том "Логических исследований" состоит из шести частей, связанных между собой лишь общей направленностью, посвященных проблемам выражения и значения, единства и вида, части и целого и, самое главное, проблеме интенциональных переживаний.
     </p>
</section>

<section class="own-action container">
      <h1 class="display-4">Основная деятельность Э. Гуссерля</h1>
      <p class="lead">
                В сентябре 1901 г. начинается новый период жизни Гуссерля: он переезжает в Гёттинген. Несмотря на то, что до 1913 г. никаких крупных работ у Гуссерля не выходило, он ведет активную деятельность: много преподает (в 1906 г. Гуссерль становится ординарным профессором Гёттингенского университета), встречается со многими известными философами (1901 г. - с одним из своих последователей Максом Шелером, 1904 г. - с Теодором Липпсом, еще одним своим сторонником, основателем Мюнхенского кружка, 1905 г. - с Вильгельмом Дильтеем, 1909 г. - с неокантианцем Паулем Наторпом, 1913 г. - с Карлом Ясперсом). Впрочем, многие курсы лекций были опубликованы в собрании сочинений Гуссерля - Husserliana - после его смерти (курс лекций "Идея феноменологии" публиковался даже на русском языке). Кроме того, в 1928 г. под редакцией Мартина Хайдеггера были опубликованы лекции Гуссерля под названием "Феноменология внутреннего сознания времени". С 1910 г. Гуссерль является редактором российско-немецкого философского журнала Логос. В 1911 г. там появляется его статья "Философия как строгая наука" ("Philosophie als strenge Wissenschaft"). В статье критикуется натурализм, психологизм и историцизм, в которых Гуссерль видит формы релятивизма, и выдвигается задача превращения философии в строгую науку.

                В 1912 г. был основан "Ежегодник философии и феноменологических исследований" ("Jahrbuch für Philosophie und phänomenologische Forschung "), главным редактором которого был Гуссерль. Журнал издавался до 1930 г., а в состав его редколлегии входили Оскар Бекер, Мориц Гайгер, Мартин Хайдеггер, Александр Пфендер, Адольф Райнах и Макс Шелер. В 1913 г. на страницах "Ежегодника" печатается первая книга работы Гуссерля "Идеи чистой феноменологии и феноменологической философии" - "Общее введение в чистую феноменологию" ("Ideen zu einer reinen Phänomenlogie und phänomenlogischen Philosophie. Erstes Buch: Allgemeine Einführung in die reine Phänomenologie", так называемые "Идеи I") . Книга была связана с коренным поворотом в учении Гуссерля - основными ее идеями было учение о чистом сознании и познании сущностей (эйдосов).
        
                В начале 1916 г. Гуссерль был назначен на должность профессора философии во Фрайбургский университет, на место Генриха Риккерта, переехавшего после смерти Вильгельма Виндельбанда в Гейдельберг. Начало фрайбургского периода было чрезвычайно тяжелым временем в личной жизни Гуссерля: 8 марта 1916 г. под Верденом погибает его младший сын Вольфганг, в июле 1917 г. у Гуссерля умирает мать, почти в то же время был ранен его сын Герхарт.
        
                20-е гг. были временем наибольшей популярности феноменологии Гуссерля. В 1921 - 1922 гг. переиздаются, в значительно переработанном виде, "Логические исследования", выходит второе издание "Идей I". В 1922 г. Гуссерль читает курс лекций в Лондоне. В 1923 - 1924 гг. выходит ряд его статей в японских журналах: "Обновление: Его проблемы и его методы", "Метод познания сущностей", "Обновление как моральная проблема личности", "Идея философской культуры: Ее первые ростки в греческой философии" ("Erneuerung, Ihr Problem and ihre Methode", "Die Methode der Wesensforschung", "Erneuerung als individualethisches Problem", "Die Idee einer philosophischen Kultur: Ihr erstes Aufkeimen in der grieschischen Philosophie"). Это бы успешный период и в личной жизни Гуссерля: 1922 г. выходит замуж его дочь, в 1923 г. женится его сын Герхарт.
        
                В 1926 г. в день рождения Гуссерля (в это время он отдыхает в Тодтнауберге) Мартин Хайдеггер представляет ему рукопись своей книги "Бытие и время" с посвящением "Эдмунду Гуссерлю в почитании и дружбе". В 1927 г. при участии Хайдеггера Гуссерль начинает работать над статьей о феноменологии для Британской энциклопедии. В 1928 г. она была завершена.
        
                1928 г. в жизни Гуссерля был насыщен событиями. Он выходит на пенсию, его кафедру в Фрайбургском университете занимает Хайдеггер, хотя он свое преподавание в университете он не прекращает. В апреле Гуссерль выступает в Амстердаме с докладами, посвященными феноменологической психологии. В том же году под редакцией Хайдеггера в "Ежегоднике" публикуются его "Лекции по феноменологии внутреннего сознания времени" ("Vorlesungen zur Phänomenologie des inneren Zeitbewußtseins"). Гуссерль становится также почетным членом американской Академии наук и искусств.
        
                В феврале 1929 г. он выступает в Париже с докладами, которые позже станут основой "Картезианских размышлений". Отмечается юбилей Гуссерля, чему был посвящен специальный выпуск "Ежегодника". Выходит его новая крупная работа - "Формальная и трансцендентальная логика" ("Formale und transzendentale Logik"). Выходит в свет и его статья в Британской энциклопедии. В 1930 г. Гуссерль публикует послесловие к "Идеям чистой феноменологии и феноменологической философии". В 1931 г. во Франции выходят "Картезианские размышления. Введение в феноменологию" ("Méditations cártesiennes. Introduction à la phénoménologie", "Cartesianische Meditationen"). В Германии при жизни Гуссерля эта книга так и не вышла. Помимо нового выражения идей феноменологической редукции и чистого Я в этой работе впервые формулируется идея интерсубъективности. В 1932 г. Гуссерль был избран членом-корреспондентом Академии моральных и политических наук Института Франции.
        
                С приходом национал-социалистов к власти Гуссерль начинает испытывать препятствия в своей деятельности. 6 апреля 1933 г. указом министра культуры Бадена он был отстранен от преподавания в университете. Вскоре ему вообще было запрещено преподавание в университетах (правда, в июле это запрещение отменяется). Однако, несмотря на все эти препятствия, Гуссерль в том же году отказывается от предложения университета Южной Калифорнии (Лос-Анджелес, США). В 1934 г. Гуссерль начинает работу над книгой "Кризис европейских наук и трансцендентальная феноменология" и принимает приглашение участвовать в 8 Международном философском конгрессе в Праге. В мае 1935 г. он читает в Праге лекции "Кризис европейского человечества и философия" ("Die Philosophie in der Krisis der europäischen Menschheit"). В ноябре Гуссерль выступает в Праге с докладами "Кризис европейских наук и психология" ("Die Krisis der europäischen Wissenschaften und die Psychologie"). В том же году Гуссерля избирают членом-корреспондентом Британской академии.
        
                В начале 1936 г. Гуссерлю окончательно запрещается преподавание в Германии. В январе в Белграде выходит первая часть его последней работы "Кризис европейских наук и трансцендентальная феноменология" ("Die Krisis der europäischen Wissenschaften und die transzendentale Phänomenologie. Eine Einleitung in die phänomenologische Philosophie"). Здесь Гуссерль вводит понятие жизненного мира. Однако полное издание выйдет лишь после смерти. В 1937 г. Гуссерлю запрещают принять участие в 9 Международном философском конгрессе в Париже.
      </p>
</section>

<section class="last-years container">
        <h1 class="display-4">Последние годы</h1>
        <p class="lead">
                В августе 1937 г. Гуссерль тяжело заболевает. После тяжелой болезни 27 апреля 1938 г. Эдмунд Гуссерль скончался в Фрайбурге. 29 апреля его тело было кремировано.

                Вдова Мальвина Гуссерль передала его архив, насчитывающий около 40 тыс. листов стенографических текстов и еще 10 тыс. листов машинописи, францисканскому священнику Герману Лео ван Бреда, сумев тем самым спасти эти рукописи от опасностей нацистского режима. Он переправил архив в Бельгию, где был открыт архив Гуссерля при Институте философии Католического университета. Благодаря усилиям последних ассистентов Гуссерля Эйгена Финка и Бертрана Ландгребе, архив был описан, благодаря чему стало возможным использование этого архива для работы исследователей и издания собрания сочинений Гуссерля - Husserliana.

                Вклад Гуссерля в мировую философию трудно переоценить. Помимо того, что он является основоположником феноменологии, он оказал влияние на формирование экзистенциализма, структурализма и постструктурализма, герменевтики, деконструктивизма, культурной антропологии. Среди учеников Гуссерля, а также тех, на кого он оказал влияние или тех, кто развивал идеи его феноменологии, был целый ряд выдающихся ученых и философов: Александр Пфендер, занимавшийся проблемами дескриптивной психологии и логики, Мориц Гайгер, исследовавший проблемы вчувствования, а также вопросы эстетики и геометрии, Макс Шелер, выдающийся философ, разрабатывавший проблемы философской антропологии и этики, а также проблемы религиозности, Вильгельм Шапп, касавшийся вопросов восприятия, Генрих Гофман, исследовавший понятие ощущения, Адольф Райнах, интересовавшийся проблемами суждения и a priori. Ученицей Гуссерля была также Эдит Штайн, его ассистентка. Одним из самых известных учеников Гуссерля был польский литературовед и философ Роман Ингарден, выпустивший ряд работ, посвященных проблемам эстетики и концепции литературного произведения. Однако влияние Гуссерля не ограничивается одной философией, его концепции нашли применение в психологии, социологии, литературоведении и истории.  
        </p>
</section>


